{% extends 'admin/master.html' %}

{% block body %}
<div class="col-md-7 col-sm-7 col-xs-12">
	<h3> Demandes de ligne d'exploitation mobiles et fixes !</h3>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a style="color: black;" href="{{url_for('reporting_demande')}}">Reporting sur les demandes de lignes mobiles</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a style="color: black;" href="{{url_for('ajout_facturation')}}">Ajouter un fichier de Facturation</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a style="color: black;" href="{{url_for('tableau_suivi_mobile')}}">Suivi du parc des lignes d'exploitation mobiles / Suivi consommation GFU et parc lignes d’exploitation agents</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a style="color: black;" href="{{url_for('logout')}}">Se Déconnecter</a></li>
		</ol>
	</nav>
</div>
{% endblock body %}