{% extends 'admin/master.html' %}

{% block body %}
<div class="col-md-7 col-sm-7 col-xs-12">
	<h3> Demandes de ligne d'exploitation mobiles et fixes !</h3>
	<nav aria-label="breadcrumb ">
		<ol class="breadcrumb bg-secondary">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="{{url_for('mobile_permanent')}}">Demande de ligne d'exploitation mobile permanent</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-primary">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="{{url_for('mobile_temporaire')}}">Demande de ligne d'exploitation mobile temporaire</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-warning">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="#">Demande de ligne d'exploitation fixe permanent</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="#">Demande de ligne d'exploitation fixe temporaire</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="{{url_for('ajout_facturation')}}">Ajouter un fichier de Facturation</a></li>
		</ol>
	</nav>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-success">
			<li class="breadcrumb-item active" aria-current="page"><a class="text-white" href="{{url_for('logout')}}">Se Déconnecter</a></li>
		</ol>
	</nav>
</div>
{% endblock body %}